@page
@model MyWebForum.Pages.User.IndexModel
@{
    if(Model.User.IsAdmin == true)
    {
        Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }
}

<h2 class="cursive-left" style="color: #D2691E; margin-left: 10px"> My profile: </h2>
<br>

<img src="@TempData["Picture"]" width="200px" height="200px" style="margin: 5px; border-radius: 8px; border: 3px solid #F8F8FF;"/>

<form method="post" asp-page-handler="upload" enctype = "multipart/form-data">
    <fieldset style="margin-left: 10px">
        <b style="margin: 10px;">Add picture</b>
        <div class="editor-field" style="margin: 10px;">
           <input class="btn btn-default" type="file" asp-for="@Model.Picture" />
           <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
        <input class="btn btn-success" type="submit" value="Submit" />
    </fieldset>
</form>
<br />

<div style="margin-left: 10px">
    <table>
        <tr><td class="charName"><b> Name:</b></td><td class="charValue"> @Model.User.Name</td></tr>
        <tr><td class="charName"><b> Surname:</b></td><td class="charValue">@Model.User.Surname</td></tr>
        <tr><td class="charName"><b> Age:</b></td><td class="charValue"> @Model.User.Age y.o.</td></tr>
        <tr><td class="charName"><b> E-mail:</b></td><td class="charValue"> @Model.User.Email</td></tr>
        <tr><td class="charName"><b> Created:</b></td><td class="charValue"> @Model.User.Created</td></tr>
        <tr><td class="charName"><b> Address:</b></td><td class="charValue"> @Model.User.Address</td></tr>
    </table>
</div>

<br />

<table>
    <tr>
        <td><div style="color: #F4A460; font-family: cursive;">Notifications: </div></td>
        <td>
            <a asp-page="/User/Notifications" asp-route-id="@Model.User.Id"  class="btn btn-default pull-right" style="text-decoration: none; margin-left: 10px">
                <img src="~/images/bell.png" alt="bell" width="25px">
                @{
                    if(Model.NewNotifications != null)
                    {
                        <span class="badge">
                            @Model.NewNotifications
                        </span>
                    }
                }
            </a>
        </td>
    </tr>
</table>

<br />
    <table class="table">
        <thead>
            <tr>
                <td><b>Post name</b></td>
                <td><b>Status</b></td>
            </tr>
        </thead>
        <tbody style="background-color: white; border-radius:8px">
                    @{
                        foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td>
                                    <a id="containerTopic" asp-page="/Post/Index" asp-route-id="@post.PostId">
                                        @post.PostName
                                    </a> 
                                </td>
                                <td>
                                        @{
                                            if(post.IsAllow == true)
                                            {
                                                <div style="color: green;">Allowed</div>
                                            }
                                            else
                                            {
                                                <div style="color: red;">Disallowed</div>
                                            }   
                                        }
                                        <br>
                                </td>
                            </tr>
                         }
                    }
        </tbody>
</table>
<a class="btn btn-primary" style="margin: 10px" asp-page="/User/ChangeOwnData">Change data</a>
<a class="btn btn-primary" style="margin: 10px" asp-page="/User/ChangePass">Change password</a>
@{
    if (Model.User.IsVerified == false)
    {
        <a class="btn btn-default" style="margin: 10px" asp-page="/User/Verification" asp-route-id="@Model.User.Id">Verification</a>
    }else{
        <div class="btn btn-success" style="margin: 10px">You varificated</div>
    }
}

<a class="btn btn-danger logout" style="margin-top: 180px;" asp-page="/User/Login">Log out</a>

@if(TempData["Success"] != null)
{
    <script type="text/javascript">
        alert("@TempData["Success"]");
    </script>
}