@page
@model MyWebForum.Pages.User.RegistrationModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <fieldset style="margin-left: 10px">
        <b style="margin: 10px;">Add picture</b>
        <div class="editor-field" style="margin: 10px;">
           <input class="btn btn-primary" type="file" asp-for="@Model.Picture" />
           <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
    </fieldset>
    <div class="form-group">
        <label asp-for="User.Name" class="control-label"><b>Name:</b></label>
        <input type="text" asp-for="@Model.User.Name" class="form-control" />
        <span asp-validation-for="User.Name" class="text-danger"></span>
    </div>
    </br>
    <div class="form-group">
        <label asp-for="User.Surname" class="control-label"><b>Surname:</b></label>
        <input type="text" asp-for="@Model.User.Surname" class="form-control" />
        <span asp-validation-for="User.Surname" class="text-danger"></span>
    </div>
    </br>
    <div class="form-group">
        <label asp-for="User.Age" class="control-label"><b>Age:</b></label>
        <input type="number" asp-for="@Model.User.Age" class="form-control" />
        <span asp-validation-for="User.Age" class="text-danger"></span>
    </div>
    </br>
    <div class="form-group">
        <label asp-for="User.Address" class="control-label"><b>Address:</b></label>
        <input type="text" asp-for="@Model.User.Address" class="form-control" />
        <span asp-validation-for="User.Address" class="text-danger"></span>
    </div>
    </br>
    <div class="form-group">
        <label asp-for="User.Email" class="control-label"><b>E-mail:</b></label>
        <input type="text" asp-for="@Model.User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>
    </br>
    <div class="form-group">
        <label asp-for="User.Password" class="control-label"><b>Password:</b></label>
        <input type="password" asp-for="@Model.User.Password" class="form-control" />
        <span asp-validation-for="User.Password" class="text-danger"></span>
    </div>
    </br>
    <div class="form-group">
        <input type="submit" value="Log up" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-page="/Login">You have acount?</a>
</div>