@page
@model MyWebForum.Pages.Admin.TopicsListModel
@{
    if(Model.IsAdmin == true)
    {
        Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }
}

<h4> All topics </h4>

 <table class="table">
            <thead>
                <tr>
                    <td><b>#</b></td>
                    <td><b>Name</b></td>
                    <td><b>Action</b></td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var topic in Model.Topics)
                    {
                        <tr>
                            <td>@topic.TopicId</td>
                            <td>@topic.TopicName</td>
                            <td width="6%">
                                  @{
                                      if(topic.IsAllow == true){
                                          <form method="post" asp-page-handler="disallow" asp-route-id="@topic.TopicId">
                                            <input class="btn btn-warning" type="submit" value="Disallow"/>

                                            <input type="hidden" asp-for="@Model.IsAdmin">
                                          </form>
                                      }
                                      else{
                                          <form method="post" asp-page-handler="allow" asp-route-id="@topic.TopicId">
                                            <input class="btn btn-success" type="submit" value="Allow"/>
                                            <input type="hidden" asp-for="@Model.IsAdmin">
                                          </form>
                                      }
                                  }
                            </td>
                            <td>
                                <form method="post" asp-page-handler="delete" asp-route-id="@topic.TopicId">
                                    <input class="btn btn-danger" type="submit" value="Delete"/>
                                    <input type="hidden" asp-for="@Model.IsAdmin">
                                  </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
