@page
@model IndexModel
@{
    if(Model.IsAdmin == true)
    {
        Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }
}

<h2 class="cursive-left" style="color: #D2691E; "> Popular posts: </h2>
<br>

<form method="post" asp-page-handler="searchPost">
    <table>
        <tr>    
            <td><input class="form-control" type="text" name="Search" style="width: 350px; margin-right: 15px" /></td>
            <td><input class="btn btn-default pull-right" type="submit" value="Search" /></td>
        </tr>
    </table>
</form>

<br />

@{
    foreach (var post in Model.Posts)
    {
        <div style="background-color: white; width: 400px; padding: 10px; border-radius: 6px">
            <a asp-page="/Post/Index" asp-route-id="@post.PostId">
                @post.PostName
            </a>
        </div>        
        <br>
        <br>
    }
}

<br>
    <h2 class="cursive-left" style="color: #D2691E; "> All forum topics: </h2>

@{
    <table>
        <tr>
            <td>
                <td><a class="btn btn-default" asp-page="/Topic/Search">Search</a></td>
            </td>
            <td>
                <div style="margin-left: 15px">
                    <a class="btn btn-default" asp-page="/Topic/Create" type="submit" >Create new topic</a>
                    <br>
                </div>
            </td>
        </tr>
    </table>
    <br>

    foreach (var topic in Model.ShowTopics)
    {
        <div style="background-color: white; width: 400px; padding: 10px; border-radius: 6px">
            <a  asp-page="/Topic/Index" asp-route-id="@topic.TopicId">
                @topic.TopicName
            </a>
            <div class="pull-right">@topic.CountPosts</div>
        </div>        
        <br><br>
    }
}